﻿@charset "UTF-8";

/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');


/*Global / Desktop View*/
header {
	background-color: #232F3E;
	padding-top: 12px;
	padding-left: 19px;
	padding-right: 19px;
	padding-bottom: 25px;
}

.warning2 {
    color: #D80003;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	float: right;
}

.mobile-view {
    display: none;
}

.desktop-view ul li {
    list-style-type: none;
    display: inline-block;
}

.desktop-view {
    margin-top: 47px;
}

.desktop-view ul li a {
    padding-top: 13px;
    padding-right: 43px;
    padding-bottom: 13px;
    padding-left: 43px;
    text-decoration: none;
    color: #232F3E;
}

.btn-color {
    background-color: #FFFFFF;
}

body {
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: #EAEAEA;
}

.main {
    min-height: 400px;
}

footer {
    height: 120px;
    background-color: #232F3E;
}

.social-icon   {
    float: left;
    margin-top: 37px;
    margin-left: -31px;
}

.copy-right {
    float: left;
    color: #FFFFFF;
    margin-top: 90px;
    font-size: 12px;
    margin-left: -200px;
}

.footer-links {
    padding-right: 36px;
    margin-top: -18px;
    float: right;
    text-decoration: none;
    text-shadow: 0px 0px #FFFFFF;
}

.footer-btn {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 25px;
    font-size: 16px;
    margin-top:15px;
}

.footer-links ul li {
    list-style-type: none;
    float: right;
    clear: both;
}

.footer-content {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

.inside-main {
    background-color: #FFFFFF;
    border: thin solid #232F3E;
}

.float-right {
    float: right;
}

.main-content-margin {
    margin-right: 19px;
}

.main-content-margin-left {
    margin-left: 19px;
    margin-top: 16px;
}

.text-flaot-right {
    margin-bottom: 100px;
    margin-right: 95px;
}

.main-content-hight {
    margin-top: 88px;
}

.text-flaot-left {
    margin-right: 250px;
    margin-bottom: 100px;
}

.text-headers {
    font-size: 52px;
}

.float-left {
    float: left;
}

.image-float-right {
    float: right;
    margin-top: 70px;
    margin-right: 45px;
}

.h1-left {
    text-align: center;
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 643px;
}
.h1-right {
    text-align: center;
    padding-top: 90px;
    padding-left: 634px;
}

.image-float-left {
    float: left;
    margin-left: 80px;
    margin-top: 70px;
}

.btn-search {
    background-color: #FFBC00;
    margin-top: 179px;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    padding-left: 15px;
    height: 57px;
    padding-top: 5px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    margin-bottom: 30px;
}

.btn-dec {
    width: 28px;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 25px;
    text-decoration: none;
}

header a .logo {
    margin-left: 40px;
}

.icon {
    padding-left: 42px;
}

.contact-form {
    margin-right: auto;
    margin-left: auto;
    background-color: #232F3E;
    width: 600px;
    height: 569px;
    margin-top: 64px;
    border-radius: 90px 90px 45px 45px;
}

.sign-in-form {
    margin-right: auto;
    margin-left: auto;
    background-color: #232F3E;
    width: 550px;
    height: 470px;
    margin-top: 64px;
    border-radius: 90px 90px 45px 45px;
    margin-bottom: 47px;
}

.sign-up-form {
    margin-right: auto;
    margin-left: auto;
    background-color: #232F3E;
    width: 550px;
    min-height: 650px;
    margin-top: 64px;
    border-radius: 90px 90px 45px 45px;
    margin-bottom: 50px;
}
.sign-up-form2 {
    margin-right: auto;
    margin-left: auto;
    background-color: #232F3E;
    width: 550px;
    min-height: 550px;
    margin-top: 64px;
    border-radius: 90px 90px 45px 45px;
    margin-bottom: 50px;
}
.new-product-form {
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    width: 1010px;
    margin-top: 64px;
    border-radius: 90px 90px 45px 45px;
    margin-bottom: 50px;
    text-align: center;
    border: thin solid #232F3E;
    min-height: 510px;
}
.product-details {
    padding-right:100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    width: 1010px;
    margin-top: 64px;
    border-radius: 90px 90px 45px 45px;
    margin-bottom: 50px;
    text-align: center;
    border: thin solid #232F3E;
    min-height: 510px;
}
.product-details .box {
    width:100px;
}

.black-txt {
    color: #000000;
}

.box-message {
    width: 444px;
    height: 188px;
    border-radius: 16px;
    text-align: right;
}

.sign-in-table {
    margin: auto;
    text-align: right;
}

.new-product-table {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    text-align: right;
    margin-right: 33px;
    color: #000000;
}

.contact-table {
    margin: auto;
    text-align: right;
}
.box {
    width: 304px;
    height: 32px;
    text-align: center;
    font-size: 15px;
}
.label-box{
    width: 150px;
    height: 32px;
    text-align: center;
    font-size: 15px;
    border-width:0px;
}
.label-box:focus {
    border-width:0px;
    outline:none;
}
.box-edited {
    height: 32px;
    text-align: center;
    font-size: 15px;
}
.box2 {
    width: 150px;
    height: 32px;
    text-align: center;
    font-size: 15px;
}



.container .main.inside-main .sign-up-form {
    height: 600px;
}

.accept-align {
    text-align: right;
    margin-right: 32px;
    color: #FFFFFF;
}

.warning {
    color: #D80003;
}

.warningg {
    color: #FFFFFF;
}

.mid {
    color: #FFFFFF;
    padding-top: 18px;
    font-size: 25px;
    text-align: center;
}
.mid-form {
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 20px;
}

.mid-products-form {
    text-align: center;
    margin-top: 50px;
    color: #000000;
    font-size: 20px;
    float: right;
}

.mid-product-details {
    margin-top: 50px;
    color: #000000;
    font-size: 18px;
    float: right;
}
.mid-product-details > box, .mid-product-details > labe-box{
    width:100px!important;
}

.products-form-align {
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

.sign-in {
    color: #FFFFFF;
    text-decoration: none;
}

.container .main.inside-main .mid {
    color: #232F3E;
    margin-bottom: -39px;
    margin-top: 17px;
}

.input {
    margin-top: 9px;
    width: 304px;
    height: 36px;
    font-size: 22px;
    text-align: center;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    margin-bottom: 20px;
    overflow: auto;
}

.submit-btn {
    width: 126px;
    border-radius: 16px;
    height: 55px;
    background-color: #FFBC00;
    margin-top: 13px;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-bottom: 44px;
}
.submit-btn2 {
    width: 126px;
    border-radius: 16px;
    height: 55px;
    background-color: #FFBC00;
    margin-top: 13px;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-bottom: 24px;
}

.submit-btn-edited {
    border-radius: 16px;
    background-color: #FFBC00;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.danger-btn-edited {
    border-radius: 16px;
    background-color: #e71837;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF!important;
    border: 1px solid #FFFFFF;
}

.add-product-img-btn {
    width: 100px;
    border-radius: 16px;
    height: 45px;
    background-color: #FFBC00;
    margin-top: 13px;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-bottom: 44px;
}
.insert-btn {
    width: 126px;
    border-radius: 16px;
    height: 55px;
    background-color: #FFBC00;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-top: 25px;
}

.mid-form form .sign-in {
    font-size: medium;
    text-align: center;
}

.underline {
    text-decoration: underline;
    color: #FFFFFF;
}

.about {
    width: 950px;
    background-color: #FFBC00;
    margin-right: auto;
    margin-left: auto;
    height: 185px;
    margin-top: 72px;
    text-align: right;
    padding-top: 7.5px;
    border-radius: 16px;
}

.float-right-txt {
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 900px;
    height: 150px;
    clear: both;
    padding-right: 17px;
    border: 10px solid #FFBC00;
    margin-top: 87px;
    text-align: right;
}

.container .main.inside-main .sign-up-form {
    height: 549px;
}

.container .main.inside-main .sign-up-form {
    height: 600px;
}

.float-right.sign-in .sign-in .sing-icon {
    margin-bottom: -4px;
}

.text-dir {
    direction:rtl;
}

.danger{
    border: 1px solid red;
}

#NewProductTable {
    float:right;
}

.card-deck{
    direction:rtl!important;
    text-align:center;
    margin-right:5px;
    margin-left:5px;
}

.card-footer{
    background-color:rgba(255, 188, 0, 0.8);
    border-radius:5px!important;
}

.card-deck a{
    text-decoration:none;
    color:#232F3E;
}

.col-md-12,.accounts-div > .col-md-6,.col-md-4{
    padding-top:50px;
}

.sign-in-padding{
    padding:10px 0px;
}
.sign-in-padding:hover{
    cursor:pointer;
    color:#FFBC00;
}
.input {
    direction:ltr;
}
.accounts-list a{
    color:#232F3E;
}
.accounts-list a:hover{
    color:#FFBC00;
}
tbody{
    border-color:white;
}

/*Tablet View*/
@media (min-width: 401px) and (max-width: 768px){
.mobile-view {
	display: block;
	float: right;
	margin-top: 8px;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
.desktop-view ul li {
	display: block;
	margin-top: 25px;
}
.inside-main {
    margin-left: 25px;
    margin-right: 25px;
}
.h1 {
    font-size: 46px;
    line-height: 56px;

}
.remove-margin{
    margin-top:-13px;
}
}

/*Mobile View*/
@media (max-width: 400px){
.mobile-view {
	display: block;
	float: right;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
header a img {
	width: 83%;
	height: 83%;
}
.mobile-view {
	margin-top: 6px;
}
.desktop-view ul li {
	display: block;
	margin-top: 25px;
}
.inside-main {
    margin-right: 0px;
    text-align: center;
}
}
